GUI/Connected Services/Bill/BillServicers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUnCheckBillIDByTableID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnCheckBillIDByTableIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUnCheckBillIDByTableIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tableID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBillResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMaxBillID">
        <s:complexType />
      </s:element>
      <s:element name="GetMaxBillIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxBillIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="billID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="discount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="totalPrice" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckOutResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetListBillByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListBillByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListBillByDateResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteBillResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUnCheckBillIDByTableIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnCheckBillIDByTableID" />
  </wsdl:message>
  <wsdl:message name="GetUnCheckBillIDByTableIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnCheckBillIDByTableIDResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBillSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBill" />
  </wsdl:message>
  <wsdl:message name="InsertBillSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBillResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaxBillIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaxBillID" />
  </wsdl:message>
  <wsdl:message name="GetMaxBillIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaxBillIDResponse" />
  </wsdl:message>
  <wsdl:message name="CheckOutSoapIn">
    <wsdl:part name="parameters" element="tns:CheckOut" />
  </wsdl:message>
  <wsdl:message name="CheckOutSoapOut">
    <wsdl:part name="parameters" element="tns:CheckOutResponse" />
  </wsdl:message>
  <wsdl:message name="GetListBillByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetListBillByDate" />
  </wsdl:message>
  <wsdl:message name="GetListBillByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetListBillByDateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBillSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBill" />
  </wsdl:message>
  <wsdl:message name="DeleteBillSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBillResponse" />
  </wsdl:message>
  <wsdl:portType name="BillServicersSoap">
    <wsdl:operation name="GetUnCheckBillIDByTableID">
      <wsdl:input message="tns:GetUnCheckBillIDByTableIDSoapIn" />
      <wsdl:output message="tns:GetUnCheckBillIDByTableIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBill">
      <wsdl:input message="tns:InsertBillSoapIn" />
      <wsdl:output message="tns:InsertBillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxBillID">
      <wsdl:input message="tns:GetMaxBillIDSoapIn" />
      <wsdl:output message="tns:GetMaxBillIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckOut">
      <wsdl:input message="tns:CheckOutSoapIn" />
      <wsdl:output message="tns:CheckOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListBillByDate">
      <wsdl:input message="tns:GetListBillByDateSoapIn" />
      <wsdl:output message="tns:GetListBillByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBill">
      <wsdl:input message="tns:DeleteBillSoapIn" />
      <wsdl:output message="tns:DeleteBillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillServicersSoap" type="tns:BillServicersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUnCheckBillIDByTableID">
      <soap:operation soapAction="http://tempuri.org/GetUnCheckBillIDByTableID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBill">
      <soap:operation soapAction="http://tempuri.org/InsertBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxBillID">
      <soap:operation soapAction="http://tempuri.org/GetMaxBillID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOut">
      <soap:operation soapAction="http://tempuri.org/CheckOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListBillByDate">
      <soap:operation soapAction="http://tempuri.org/GetListBillByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBill">
      <soap:operation soapAction="http://tempuri.org/DeleteBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BillServicersSoap12" type="tns:BillServicersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUnCheckBillIDByTableID">
      <soap12:operation soapAction="http://tempuri.org/GetUnCheckBillIDByTableID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBill">
      <soap12:operation soapAction="http://tempuri.org/InsertBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxBillID">
      <soap12:operation soapAction="http://tempuri.org/GetMaxBillID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOut">
      <soap12:operation soapAction="http://tempuri.org/CheckOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListBillByDate">
      <soap12:operation soapAction="http://tempuri.org/GetListBillByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBill">
      <soap12:operation soapAction="http://tempuri.org/DeleteBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillServicers">
    <wsdl:port name="BillServicersSoap" binding="tns:BillServicersSoap">
      <soap:address location="https://localhost:44315/BillServicers.asmx" />
    </wsdl:port>
    <wsdl:port name="BillServicersSoap12" binding="tns:BillServicersSoap12">
      <soap12:address location="https://localhost:44315/BillServicers.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>